/* Reset e Definições Globais */
*{
    margin: 0;
    top: 0;
    left: 0;
    padding: 0;
    
    font-family: "Pixelify Sans", sans-serif;;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.4s all ease-in-out;
}
/* Variaveis (só tá assim pq fica fácil de fazer outro tema dps) */
:root{
    --corNav: black;
    --corFundo: #0A0A0F;

    --corTexto: white;
    --corLinks: #6C2DC7;
    --corDestaque: rgb(69, 1, 255);
    
    /* Peguei essa sombra pronta em um site com vários exemplos (achei bonita)*/
    --sombra: 0 4px 12px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.08);
    --corBordas: rgb(111, 0, 255);
    
    --arredondamento: 1rem;
    --padraoBorda: 2px solid;
    --hoverBtn: rgba(70, 70, 70, 0.1);
}
body{
    background: var(--corFundo);
    width: 100%;
    height: 100vh;
    color: var(--corTexto);
}
/* Barra de Navegação */
.navbar{
    position: fixed;
    width: 100%;
    padding: 1rem;
    background: var(--corNav);
    display: flex;
    align-items: center;
    /* Mexi tanto que esse space-around aqui n precisava */
    justify-content: space-around;

    z-index: 2;
    max-height: 120px;
}
.navbar-img{
    display: flex;
    justify-content: center;
    width: 20%;
}
.navbar-img img{
    width: 80px;
}
.navbar-links{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.navbar-links a{
    text-decoration: none;
    color: var(--corLinks);
    font-size: 17px;
}
.navbar-links a:hover{
    color: var(--corDestaque);
}
.navbar-cfg{
    display: flex;
    justify-content: center;
    width: 20%;
}
.navbar-cfg button{
    padding: 1rem;
    font-size: 2rem;
    color: var(--corLinks);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: none;
}
.navbar-cfg button:hover{
    background: var(--hoverBtn);
    color: var(--corDestaque);
}
/* Conteudo Principal */
.conteudo-principal{
    width: 95%;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.caixa-colab{
    width: 50%;
    border-radius: var(--arredondamento);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.caixa{
    width: 40%;
    min-width: 200px;
    background: var(--corNav);
    border: var(--padraoBorda) var(--corBordas);
    border-radius: var(--arredondamento);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    margin: 40px;
    cursor: pointer;
    box-shadow: var(--sombra);
    z-index: 1;
}
.caixa-img{
    width: 95%;
}
.caixa-img img{
    width: 100%;
    border-radius: var(--arredondamento);
}
.caixa:hover{
    scale: 1.1;
}
.caixa-integrantes{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Tava dando problema para fazer em js dai aqui foi então larguei mão de adicionar um evento no js */
.caixa:hover .caixa-integrantes{
    display: flex;
}