/* Reset e Definições Globais */
*{
    margin: 0;
    top: 0;
    left: 0;
    padding: 0;
    
    font-family: "Pixelify Sans", sans-serif;;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.4s all ease-in-out;
}
/* Variaveis (só tá assim pq fica fácil de fazer outro tema dps) */
:root{
    --corNav: black;
    --corFundo: #0A0A0F;

    --corTexto: white;
    --corLinks: #6C2DC7;
    --corDestaque: rgb(69, 1, 255);
    
    /* Peguei essa sombra pronta em um site com vários exemplos (achei bonita)*/
    --sombra: 0 4px 12px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.08);
    --corBordas: rgb(111, 0, 255);
    
    --arredondamento: 1rem;
    --padraoBorda: 2px solid;
    --hoverBtn: rgba(70, 70, 70, 0.1);

    --corTxtTabela: white;
}
body{
    background: var(--corFundo);
    width: 100%;
    height: 100vh;
    color: var(--corTexto);
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Barra de Navegação */
.navbar{
    position: fixed;
    width: 100%;
    padding: 1rem;
    background: var(--corNav);
    display: flex;
    align-items: center;
    /* Mexi tanto que esse space-around aqui n precisava */
    justify-content: space-around;

    z-index: 2;
    max-height: 120px;
}
.navbar-img{
    display: flex;
    justify-content: center;
    width: 20%;
}
.navbar-img img{
    width: 80px;
}
.navbar-links{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.navbar-links a{
    text-decoration: none;
    color: var(--corLinks);
    font-size: 17px;
}
.navbar-links a:hover{
    color: var(--corDestaque);
}
.navbar-cfg{
    display: flex;
    justify-content: center;
    width: 20%;
}
.navbar-cfg button{
    padding: 1rem;
    font-size: 2rem;
    color: var(--corLinks);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: none;
}
.navbar-cfg button:hover{
    background: var(--hoverBtn);
    color: var(--corDestaque);
}
/* Conteudo Principal */
.conteudo-principal{
    width: 95%;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conteudo-principal header{
    margin-top: 10%;
}
.caixa-apresentacao{
    margin-top: 5%;
}
.caixa-mecanicas{
    margin-top: 5%;
}
.caixa-colab{
    width: 60%;
    border-radius: var(--arredondamento);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    gap: 70px;
    margin-top: 5%;
}
.caixa{
    width: 90%;
    max-width: 350px;
    min-width: 200px;
    /* height: 370px; */
    background: var(--corNav);
    border: var(--padraoBorda) var(--corLinks);
    border-radius: var(--arredondamento);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    cursor: pointer;
    box-shadow: var(--sombra);
    z-index: 1;
    /* overflow: auto; */
    gap: 10px;
}
.caixa-img{
    width: 95%;
    height: 300px;
}
.caixa-img img{
    width: 100%;
    height: 100%;
    border-radius: var(--arredondamento);
}
.caixa .caixa-txt h3{
    color: var(--corLinks);
}
.caixa:hover{
    scale: 1.1;
    border-color: var(--corDestaque);
}
.caixa-integrantes{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Tava dando problema para fazer em js dai aqui foi então larguei mão de adicionar um evento no js */
.caixa:hover .caixa-integrantes{
    display: flex;
}
.caixa-proj{
    width: 100%;
    margin-top: 10%;
}
.caixa-game{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.caixa-game .caixa-game-img img{
    width: 75%;
}

.caixa-btn button{
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--corTexto);
    background: var(--corLinks);
    border-radius: var(--arredondamento);
    border: 2px solid var(--corDestaque);
    cursor: pointer;
}
.caixa-btn button:hover{
    border-color: var(--corLinks);
    background: var(--corDestaque);
}
.caixa-rank{
    margin-top: 5%;
    width: 75%;
}
.caixa-rank table{
    width: 100%;
    border-radius: var(--arredondamento);
    color: var(--corTxtTabela);
    text-align: center;
    background: linear-gradient(var(--corLinks),var(--corDestaque));
}
/* .caixa-rank table,thead,th,tbody,td{
} */
.caixa-rank table thead,th,tbody,tr,td{
    border-bottom: 2px solid var(--corTexto);
}
/* Footer */
.rodape{
    margin-top: 5%;
    width: 95%;
    padding: 1rem;
    border-radius: var(--arredondamento);
    background: var(--corNav);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rodape-img img{
    width: 150px;
    border-radius: var(--arredondamento);
}
.rodape-txt a{
    text-decoration: none;
    color: var(--corLinks);
}
.rodape-txt a:hover{
    color: var(--corDestaque);
    text-decoration: underline;
}